@import url(https://db.onlinewebfonts.com/c/78402929f01142abbaa927e35ec7b74b?family=Revolution+Gothic+W03+Light);
@font-face {
    font-family: "Revolution Gothic W03 Light";
    src: url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.eot");
    src: url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.svg#Revolution Gothic W03 Light")format("svg");
}
/* above is revolution gothic light font */

@import url(https://db.onlinewebfonts.com/c/7d721bf37dadb8ade50e3212e312c580?family=Revolution+Gothic+W03+Bold);
@font-face {
    font-family: "Revolution Gothic W03 Bold";
    src: url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.eot");
    src: url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.svg#Revolution Gothic W03 Bold")format("svg");
}
/* above is revolution gothic bold font */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Revolution Gothic W03 Light", sans-serif;
    font-style: light;
    font-weight: 300;
}

:root {
    --rightw: 20vw;
    --gray-bg-tp: rgba(165, 164, 165, 0.85);
    --bg-blur: blur(10px);
    --scroll-bar: #635d5b;
    --separator: #71706e;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);  
}

body {  
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;   
    padding: 2rem 4rem 2rem; 
}

.bg-vid {
    position: fixed;
    object-fit: cover;
    z-index: -1; /* makes the video go behind all of the content and shit */
    height: auto;
}

.separator {
    border: 1px solid var(--separator);
    background-color: var(--separator);
    width: 100%; 
    margin-bottom: 0.5rem;
}

.left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    background-color: var(--gray-bg-tp);
    backdrop-filter: var(--bg-blur);
}

.left > div {
    width: 20vw;
}

.left li {
    list-style-type: decimal;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;  
    height: 90vh;
    background-color: var(--gray-bg-tp);
    backdrop-filter: var(--bg-blur);
}

.right > div  {
    width: 70vw;
    height: 25vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem 1rem 0.5rem;
}

.left .list {
    padding-left: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.25rem;
}

.right .list {
    list-style-type: decimal;
    padding-left: 1rem;
}

.img {
    width: 20vw;
    height: auto;
    margin: 0.5rem;
}

.skill-set {
    height: 60vh;
    display: flex;
    align-items: center;    
    flex-flow: column wrap;;
    padding: 0.5rem;
}

.header {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.1rem;
}

.text-light {
    font-weight: 300;
}

.scroll {
    height: 30vh;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 0.5rem; 
}

.return-button {
    width: 10vw;
    height: 8vh;
    border: 5px solid white;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    background-color: var(--gray-bg-tp) ;
    left: 61.2vw;  
    bottom: 20%; /* i gave up positoning button */
    transition: 0.3s;
}

.return-button:hover {
    background-color: white;
    transition: 0.3s;
}
