@import url(https://db.onlinewebfonts.com/c/78402929f01142abbaa927e35ec7b74b?family=Revolution+Gothic+W03+Light);
@font-face {
    font-family: "Revolution Gothic W03 Light";
    src: url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.eot");
    src: url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/78402929f01142abbaa927e35ec7b74b.svg#Revolution Gothic W03 Light")format("svg");
}
/* above is revolution gothic light font */

@import url(https://db.onlinewebfonts.com/c/7d721bf37dadb8ade50e3212e312c580?family=Revolution+Gothic+W03+Bold);
@font-face {
    font-family: "Revolution Gothic W03 Bold";
    src: url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.eot");
    src: url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7d721bf37dadb8ade50e3212e312c580.svg#Revolution Gothic W03 Bold")format("svg");
}
/* above is revolution gothic bold font */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Revolution Gothic W03 Light", sans-serif;
    font-style: light;
    font-weight: 300;
}

:root {
    --rightw: 20vw;
    --gray-bg: #a5a4a5;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: orange;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: blue;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid orange;  /* creates padding around scroll thumb */
  }

body {  
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
    background-color: darkgreen;
    height: 100vh;
    align-items: center;    
}

.separator {
    border-color: #727171;
    width: 100%; 
}

.left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 90vh;
    background-color: var(--gray-bg) ;
}

.left > div {
    width: 20vw;
}

.left li {
    list-style-type: decimal;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;  
    height: 90vh;
    background-color: var(--gray-bg);
}

.right > div  {
    width: 70vw;
    height: 25vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem 1rem 0.5rem;
}

.left .list {
    list-style-type: disc;
    padding-top: 1rem;
    padding-left: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    gap: 0.25rem;
}

.right .list {
    list-style-type: decimal;
    padding-left: 1rem;
}

.img-placeholder {
    background-color: aquamarine;
    height: 25vh;
}

.skill-set {
    height: 60vh;
    display: flex;
    align-items: center;    
    flex-flow: column wrap;
    gap: 0.5rem;
    padding: 0.5rem;
}

.header {
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.1rem;
}

.text-light {
    font-weight: 300;
}

.scroll {
    height: 30vh;
    overflow: auto;
    overflow-x: hidden;
    background-color: blue;
}

.return-button {
    width: 9vw;
    height: 5vh;
    border-radius: 10px;
    font-size: 15px;
    font-weight: normal;
    align-self: flex-end;
}
