@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --rightw: 20vw;
    --righth: 60vh;
}

body {
    background-color: cornflowerblue;
    display: flex;
}

.left {
    display: flex;
    flex-flow: column nowrap;
}

.right {
    display: flex;
    flex-flow: column nowrap;
    background-color: aqua;
    flex: 2;
}

.img-placeholder {
    background-color: red;
    width: var(--rightw);
    height: var(--rightw);
}

.skill-set {
    background-color: blueviolet;
    width: var(--rightw);
    height: var(--righth);
    display: flex;
    justify-content: center;
}

.list {
    list-style-type: decimal-leading-zero;
    text-align: center;
    padding-top: 1rem;
}

.header {
    font-weight: bolder;
    font-size: 2em;
}
